html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../../../public/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $brown-dark;
  font-family: "Gloria Hallelujah", cursive;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

@media screen and (max-width: 915px) {
  .flex {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
